+popup(id="facade")
    +picture-min(jpg, `${modules}popups/facade`, `${modules}popups/facade`)
    .text
        h3 Фасады изготавливаются из:
        p 1. Fenix NTM#[br]2. ЛДСП Egger#[br]Свойства: #[br]– Устойчив к истиранию и#[br]образованию царапин#[br]– Легкие в очистке и уходе#[br]– Аутентичные структуры поверхностей#[br]– Не боится влажной уборки
        h4 Количество цветов и текстур: более 270.
        p 3. MДФ с покрытием полиуретановой эмалью.#[br]Свойства:#[br]– Древесно-волокнистая плита МДФ идеально подходит для изготовления фрезерованных изделий#[br]– Покрыта полиуретановой эмалью#[br]– Допускается влажная уборка без применения химии
        h4 Виды отделки:
        p – Окрашивается в любой цвет по: RAL / NSC / Sherwin Williams / Benjamin Moore / Color System…#[br]– От глубокого матового до высоко-глянцевого: от 10 до 100% глянца
        p 4. Фасады с покрытие натуральным шпоном – природным материалом, представляющим из себя тонкий срез дерева.
        h4 Свойства:
        p – эксклюзивность - рисунок каждого среза шпона неповторим#[br]– экологичность – шпон натуральный материал
        h4 Виды отделки:
        p – лак может закрывать поры древесины полностью или оставлять#[br]их открытыми, а для придания еще большей матовости можно брашировать поверхность (выборка мягких волокон)#[br]– всего 35 видов текстур и пород
+popup(id="body")
    +picture-min(jpg, `${modules}popups/body`, `${modules}popups/facade`)
    .text
        h3 Корпус мебели#[br] изготовлен из нанотехнологичного ультра-матового материала FENIX NTM.
        h4 Свойства материала:
        p – отталкивает воду#[br]– имеет высокую устойчивость к кислотным растворителям и бытовым реагентам#[br]– улучшены антибактериальные свойства#[br]– на нем не остаются отпечатки пальцев#[br]– обладает ультра-матовой поверхностью#[br]– антистатик#[br]– устойчив к ультрафиолету#[br]– стабилен даже при воздействии высоких температур#[br]– мягкий на ощупь#[br]– устойчивость к царапинам и истиранию#[br]– тепловое исцеление поверхностных микроцарапин#[br]– устойчив к удару
        h4 Количество цветов: 24
        br
        h4 Дополнительно:
        p Нанотехнологии#[br] При просмотре под микроскопом вы можете видеть, что поверхность FENIX неравномерна, как ландшафт с пиками и впадинами. Вместо отражения свет рассеивается, что делает FENIX очень непрозрачным. Его закрытая поверхность предотвращает прохождение пыли и воды, которые просто сдвигаются, делая FENIX гигиеничным и водонепроницаемым.
        h4 Продвинутый материал с памятью
        p Благодаря процессу отверждения электронного пучка поверхность материала рассеивается плотной сеткой поперечных сополимеров с&nbsp;собственной памятью. В случае небольших царапин, нарушающих эту память, он может быть реактивирован с использованием тепла, помогая поверхности вновь получить первоначальный внешний вид.
        h4 Откройте для себя FENIX
        p Это новое поколение интеллектуальных материалов для дизайна интерьера, созданных компанией Arpa Industriale для ряда вертикальных и горизонтальных приложений интерьера: кухни, гостинные, ванные комнаты и мебель.#[br] Поверхность чрезвычайно непрозрачна, обладает низкой светоотражаемостью, на ней не остаются отпечатки пальцев и она приятная на ощупь. Поверхность легко восстанавливается от мелких царапин.




