+popup(id="thanks")
    img.popup__logo(src=`${modulesIco}logo.svg` alt="")
    p.popup__title Спасибо, что доверились нам
    p.popup__subtitle Наш менеджер перезвонит Вам#[br.d-none.d-md-inline] в&nbsp;течение 10 минут
    img.popup__circle.logo-circle(src=`${modulesIco}logo-circle.svg` alt="")