//- Links 

- var phoneLink = "tel:89819810880"
- var phoneNumber = "8 981 981 08 80"
- var mailAdress = "info@vivomobili.ru"
- var privacyLink = "/privacy-policy.pdf"

//- social
- var instLink = "http://instagram.com/vivomobili"
- var fbLink = "https://www.facebook.com/vivomobili-103832635079591"
- var ytLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "assets/images/icons/"
- var modulesIco = `/modules/images/icons/`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1260
- var xl = 1620

//- colors 
- var primary = '#5B6A80'

//- iconset


